.form {
    margin: 0 auto;
    text-align: center;
}

.form input {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form button[type=submit] {
    width: 60%;
    background-color: #5b5a69;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .signuperror {
    text-align: center;
    color: #E73F1B;
}